-e git+https://github.com/jleclanche/fireplace@d0fc0e97e185c0210de86631be20638659c0609e#egg=fireplace
gym==0.12.0
hearthstone==5.3.0
hearthstone-data==29349.1
numpy==1.16.2
tensorboard
tensorboardX==1.6
-e git+https://github.com/lcswillems/torch-ac.git@7c2926667c6ba4029413f77a14d2ff1137ca4add#egg=torch_ac
tqdm==4.31.1
